In [37]:
import pandas as pd
import numpy as np
import geopandas as gpd
from jupyter_dash import JupyterDash
import dash
import dash_leaflet as dl

import json
from dash_extensions.javascript import arrow_function
import random

all_blocks = gpd.read_file('GeoJSON Files/blocks.geojson')

In [29]:
all_blocks

,Block_Name,Status,Operator,num_wells,sq_km,est_reserve,geometry
0,East-Block,Production,A,20,145.97,100,"POLYGON ((96.40011 5.20866, 96.43375 5.22165, ..."
1,West-Block,Production,B,50,171.38,420,"POLYGON ((96.15006 5.27447, 96.14897 5.41917, ..."
2,South-Block,Exploration,A,0,48.74,150,"POLYGON ((96.15021 5.32141, 96.15075 5.27437, ..."
3,Center-Block,Exploration,C,0,48.98,120,"POLYGON ((96.14996 5.32193, 96.26084 5.32085, ..."
4,North-Block,Production,A,30,64.55,220,"POLYGON ((96.08469 5.41977, 96.21141 5.41977, ..."

In [38]:
all_blocks['tooltip'] = 'Block Name: ' + all_blocks.Block_Name + '<BR> Status: ' + all_blocks.Status + '<BR> Operator: ' + all_blocks.Operator + '<BR> Number of Wells: ' + all_blocks.num_wells.astype(str) + '<BR> Area in Sq. Kilometers ' + all_blocks.sq_km.astype(str) + '<BR> Estimated Reserves in Million of Barrels: '+ all_blocks.est_reserve.astype(str)

In [40]:
layer_block = dl.GeoJSON(id='block',
                        data=json.loads(all_blocks.to_json()),
                        hoverStyle=arrow_function(dict(weight=6, fillColor='blue')),
                        options=dict(style=dict(color='black', 
                                    weight=1, 
                                    dashArray='20, 10',
                                    dashOffset='5',
                                    opacity=0.7,
                                    )))

app = JupyterDash()
app.layout = dl.Map([layer_block, dl.TileLayer()],
                    center=[5.3, 96.3],
                    zoom=10,
                    style={
                        'width': '1000px',
                        'height': '500px'
                    })

app.run_server(mode='inline', port=random.choice(range(2000, 10000)))

In [55]:
all_blocks['Operator']

0    A
1    B
2    A
3    C
4    A
Name: Operator, dtype: object

In [56]:
pd.unique(all_blocks['Operator'].to_list())

array(['A', 'B', 'C'], dtype=object)

In [48]:
all_blocks[all_blocks['Block_Name']=='East-Block']

,Block_Name,Status,Operator,num_wells,sq_km,est_reserve,geometry,tooltip
0,East-Block,Production,A,20,145.97,100,"POLYGON ((96.40011 5.20866, 96.43375 5.22165, ...",Block Name: East-Block<BR> Status: Production<...
1,West-Block,Production,B,50,171.38,420,"POLYGON ((96.15006 5.27447, 96.14897 5.41917, ...",Block Name: West-Block<BR> Status: Production<...
2,South-Block,Exploration,A,0,48.74,150,"POLYGON ((96.15021 5.32141, 96.15075 5.27437, ...",Block Name: South-Block<BR> Status: Exploratio...
3,Center-Block,Exploration,C,0,48.98,120,"POLYGON ((96.14996 5.32193, 96.26084 5.32085, ...",Block Name: Center-Block<BR> Status: Explorati...
4,North-Block,Production,A,30,64.55,220,"POLYGON ((96.08469 5.41977, 96.21141 5.41977, ...",Block Name: North-Block<BR> Status: Production...