In [4]:
import pandas as pd
import numpy as np
import geopandas as gpd
import dash
import dash_leaflet as dl

import json
from dash_extensions.javascript import arrow_function
import random

all_blocks = gpd.read_file('GeoJSON Files/blocks.geojson')
all_well = gpd.read_file('GeoJSON Files/wells.geojson')

In [61]:
with open('blocks.geojson' , 'w') as file:
    file.write(all_blocks.to_json())

In [49]:
import pandas as pd
df_blocks = pd.DataFrame(all_blocks)
df_blocks

,Block_Name,Status,Operator,num_wells,sq_km,est_reserve,geometry
0,East-Block,Production,A,20,145.97,100,"POLYGON ((96.40011 5.20866, 96.43375 5.22165, ..."
1,West-Block,Production,B,50,171.38,420,"POLYGON ((96.15006 5.27447, 96.14897 5.41917, ..."
2,South-Block,Exploration,A,0,48.74,150,"POLYGON ((96.15021 5.32141, 96.15075 5.27437, ..."
3,Center-Block,Exploration,C,0,48.98,120,"POLYGON ((96.14996 5.32193, 96.26084 5.32085, ..."
4,North-Block,Production,A,30,64.55,220,"POLYGON ((96.08469 5.41977, 96.21141 5.41977, ..."

In [51]:
df_blocks = df_blocks.set_geometry("geometry")

In [52]:
df_blocks

,Block_Name,Status,Operator,num_wells,sq_km,est_reserve,geometry
0,East-Block,Production,A,20,145.97,100,"POLYGON ((96.40011 5.20866, 96.43375 5.22165, ..."
1,West-Block,Production,B,50,171.38,420,"POLYGON ((96.15006 5.27447, 96.14897 5.41917, ..."
2,South-Block,Exploration,A,0,48.74,150,"POLYGON ((96.15021 5.32141, 96.15075 5.27437, ..."
3,Center-Block,Exploration,C,0,48.98,120,"POLYGON ((96.14996 5.32193, 96.26084 5.32085, ..."
4,North-Block,Production,A,30,64.55,220,"POLYGON ((96.08469 5.41977, 96.21141 5.41977, ..."

In [56]:
df_blocks.to_json()

'{"type": "FeatureCollection", "features": [{"id": "0", "type": "Feature", "properties": {"Block_Name": "East-Block", "Status": "Production", "Operator": "A", "num_wells": 20, "sq_km": 145.97, "est_reserve": 100}, "geometry": {"type": "Polygon", "coordinates": [[[96.4001057373053, 5.208656351062942], [96.43375136718726, 5.221648609300516], [96.46259047851515, 5.23737571951817], [96.46121718750072, 5.279084831409563], [96.35684707031174, 5.279768564031215], [96.35753371582075, 5.340617736210092], [96.26140334472717, 5.341985064196123], [96.26140334472717, 5.261307518914151], [96.32663466796942, 5.23053789406255], [96.4001057373053, 5.208656351062942]]]}}, {"id": "1", "type": "Feature", "properties": {"Block_Name": "West-Block", "Status": "Production", "Operator": "B", "num_wells": 50, "sq_km": 171.38, "est_reserve": 420}, "geometry": {"type": "Polygon", "coordinates": [[[96.1500638674625, 5.274467547614364], [96.14897384519247, 5.419171436272961], [96.01490110586337, 5.42134172287426], [96.01526444661994, 5.383360416138984], [96.07521567152321, 5.3826369393847955], [96.07557901227983, 5.355867695999478], [96.03488484749829, 5.355867696870973], [96.03452150673985, 5.334162042989206], [96.0501451592911, 5.327288425995064], [96.06431544881394, 5.305219978512483], [96.07812239757834, 5.292557397961701], [96.10500961359554, 5.285683317057433], [96.13117014809939, 5.279894558164472], [96.14025366702509, 5.278809159853225], [96.1500638674625, 5.274467547614364]]]}}, {"id": "2", "type": "Feature", "properties": {"Block_Name": "South-Block", "Status": "Exploration", "Operator": "A", "num_wells": 0, "sq_km": 48.74, "est_reserve": 150}, "geometry": {"type": "Polygon", "coordinates": [[[96.15020619743746, 5.321413143458614], [96.15075239154925, 5.274369183512903], [96.15921840028875, 5.269746173698309], [96.19062456174476, 5.259684209917438], [96.21137993801023, 5.259140315346897], [96.23814344951205, 5.262403675642247], [96.26108360222605, 5.263763404046799], [96.26108360222605, 5.320325462349771], [96.15020619743746, 5.321413143458614]]]}}, {"id": "3", "type": "Feature", "properties": {"Block_Name": "Center-Block", "Status": "Exploration", "Operator": "C", "num_wells": 0, "sq_km": 48.98, "est_reserve": 120}, "geometry": {"type": "Polygon", "coordinates": [[[96.14996393515247, 5.321933704052], [96.26084133994107, 5.320846023863609], [96.26138753405411, 5.3417835292513445], [96.35451363019473, 5.340967795663914], [96.35451363019473, 5.36924592531598], [96.29224750139701, 5.369789722668301], [96.29197440434115, 5.401329137491388], [96.33922019505121, 5.401057252985197], [96.33922019505121, 5.419001368471612], [96.14887154692752, 5.419545121233369], [96.14996393515247, 5.321933704052]]]}}, {"id": "4", "type": "Feature", "properties": {"Block_Name": "North-Block", "Status": "Production", "Operator": "A", "num_wells": 30, "sq_km": 64.55, "est_reserve": 220}, "geometry": {"type": "Polygon", "coordinates": [[[96.08469351270912, 5.419774728990944], [96.21141054675434, 5.419774728990944], [96.33102705734086, 5.41868722339008], [96.33048086322776, 5.43826202425123], [96.24745935816333, 5.438805759641596], [96.24745935816333, 5.451311537935112], [96.30644832228882, 5.451855261522326], [96.30590212817572, 5.467079321826603], [96.15952210608873, 5.466535612046528], [96.16006830020183, 5.439893228949643], [96.08523970682091, 5.440980696292215], [96.08469351270912, 5.419774728990944]]]}}]}'

In [8]:
all_blocks['Block_Name'].to_list()

['East-Block', 'West-Block', 'South-Block', 'Center-Block', 'North-Block']

In [10]:
all_blocks['Block_Name'].iloc[0]

'East-Block'

In [11]:
for i in range(len(all_blocks['Block_Name'].to_list())):
    print(all_blocks['Block_Name'].iloc[i])

East-Block
West-Block
South-Block
Center-Block
North-Block

In [16]:
all_well[all_well['Well_Type'].isin(all_well['Well_Type'])]

,Well_Name,Well_Orientation,Well_Status,Well_Purpose,Well_Type,geometry
0,Well-E1,Directional,Active,Production,Oil,POINT (96.33069 5.27458)
1,Well-N1,Vertical,Active,Production,Gas,POINT (96.19868 5.44510)
2,Well-W1,Directional,Active,Production,Oil,POINT (96.11406 5.33654)
3,Well-E2,Horizontal,Inactive,Monitoring,Oil,POINT (96.30160 5.32452)
4,Well-N2,Directional,Suspended,Abandonment,Observation,POINT (96.10940 5.43308)
5,Well-C1,Vertical,Active,Exploration,Oil,POINT (96.21456 5.36823)
6,Well-S1,Directional,Active,Exploration,Oil,POINT (96.17558 5.30896)
7,Well-W2,Horizontal,Inactive,Monitoring,Oil,POINT (96.09407 5.38058)
8,Well-E3,Vertical,Shut-in,Injection,Oil,POINT (96.44064 5.26732)

In [6]:
all_well

,Well_Name,Well_Orientation,Well_Status,Well_Purpose,Well_Type,geometry
0,Well-E1,Directional,Active,Production,Oil,POINT (96.33069 5.27458)
1,Well-N1,Vertical,Avtive,Production,Gas,POINT (96.19868 5.44510)
2,Well-W1,Directional,Active,Production,Oil,POINT (96.11406 5.33654)
3,Well-E2,Horizontal,Inactive,Monitoring,Oil,POINT (96.30160 5.32452)
4,Well-N2,Directional,Suspended,Abandonment,Observation,POINT (96.10940 5.43308)
5,Well-C1,Vertical,Active,Exploration,Oil,POINT (96.21456 5.36823)
6,Well-S1,Directional,Active,Exploration,Oil,POINT (96.17558 5.30896)
7,Well-W2,Horizontal,Inactive,Monitoring,Oil,POINT (96.09407 5.38058)
8,Well-E3,Vertical,Shut-in,Injection,Oil,POINT (96.44064 5.26732)

In [6]:
all_blocks

,Block_Name,Status,Operator,num_wells,sq_km,est_reserve,geometry
0,East-Block,Production,A,20,145.97,100,"POLYGON ((96.40011 5.20866, 96.43375 5.22165, ..."
1,West-Block,Production,B,50,171.38,420,"POLYGON ((96.15006 5.27447, 96.14897 5.41917, ..."
2,South-Block,Exploration,A,0,48.74,150,"POLYGON ((96.15021 5.32141, 96.15075 5.27437, ..."
3,Center-Block,Exploration,C,0,48.98,120,"POLYGON ((96.14996 5.32193, 96.26084 5.32085, ..."
4,North-Block,Production,A,30,64.55,220,"POLYGON ((96.08469 5.41977, 96.21141 5.41977, ..."

In [16]:
all_blocks[(all_blocks['Status'].isin(['Exploration']))]

,Block_Name,Status,Operator,num_wells,sq_km,est_reserve,geometry
2,South-Block,Exploration,A,0,48.74,150,"POLYGON ((96.15021 5.32141, 96.15075 5.27437, ..."
3,Center-Block,Exploration,C,0,48.98,120,"POLYGON ((96.14996 5.32193, 96.26084 5.32085, ..."

In [13]:
edited_layer= all_blocks[(all_blocks['Block_Name'].isin(['Production'])) & (all_blocks['Status'].isin(['A','B']))]

In [3]:
all_blocks[""] = json["features"].apply(lambda row: row["geometry"]["coordinates"])

TypeError: argument of type 'method' is not iterable

In [47]:
json.loads(all_blocks[all_blocks['Block_Name'].isin(['East-Block','South-Block'])].to_json())

{'type': 'FeatureCollection',
 'features': [{'id': '0',
   'type': 'Feature',
   'properties': {'Block_Name': 'East-Block',
    'Status': 'Production',
    'Operator': 'A',
    'num_wells': 20,
    'sq_km': 145.97,
    'est_reserve': 100},
   'geometry': {'type': 'Polygon',
    'coordinates': [[[96.4001057373053, 5.208656351062942],
      [96.43375136718726, 5.221648609300516],
      [96.46259047851515, 5.23737571951817],
      [96.46121718750072, 5.279084831409563],
      [96.35684707031174, 5.279768564031215],
      [96.35753371582075, 5.340617736210092],
      [96.26140334472717, 5.341985064196123],
      [96.26140334472717, 5.261307518914151],
      [96.32663466796942, 5.23053789406255],
      [96.4001057373053, 5.208656351062942]]]}},
  {'id': '2',
   'type': 'Feature',
   'properties': {'Block_Name': 'South-Block',
    'Status': 'Exploration',
    'Operator': 'A',
    'num_wells': 0,
    'sq_km': 48.74,
    'est_reserve': 150},
   'geometry': {'type': 'Polygon',
    'coordinates': [[[96.15020619743746, 5.321413143458614],
      [96.15075239154925, 5.274369183512903],
      [96.15921840028875, 5.269746173698309],
      [96.19062456174476, 5.259684209917438],
      [96.21137993801023, 5.259140315346897],
      [96.23814344951205, 5.262403675642247],
      [96.26108360222605, 5.263763404046799],
      [96.26108360222605, 5.320325462349771],
      [96.15020619743746, 5.321413143458614]]]}}]}

In [2]:
all_blocks

,Block_Name,Status,Operator,num_wells,sq_km,est_reserve,geometry
0,East-Block,Production,A,20,145.97,100,"POLYGON ((96.40011 5.20866, 96.43375 5.22165, ..."
1,West-Block,Production,B,50,171.38,420,"POLYGON ((96.15006 5.27447, 96.14897 5.41917, ..."
2,South-Block,Exploration,A,0,48.74,150,"POLYGON ((96.15021 5.32141, 96.15075 5.27437, ..."
3,Center-Block,Exploration,C,0,48.98,120,"POLYGON ((96.14996 5.32193, 96.26084 5.32085, ..."
4,North-Block,Production,A,30,64.55,220,"POLYGON ((96.08469 5.41977, 96.21141 5.41977, ..."

In [22]:
df_test= all_blocks[(all_blocks['num_wells'].between(all_blocks['num_wells'].min(), all_blocks['num_wells'].max())) & (all_blocks['est_reserve'].between(all_blocks['est_reserve'].min(), all_blocks['est_reserve'].max())) & (all_blocks['Status'].isin(all_blocks['Status']))]
df_num=[df_test['num_wells'].max(), df_test['num_wells'].min()]
df_num

[50, 0]

In [29]:
pd.unique(df_test['Status'])

array(['Production', 'Exploration'], dtype=object)

In [38]:
all_blocks['tooltip'] = 'Block Name: ' + all_blocks.Block_Name + '<BR> Status: ' + all_blocks.Status + '<BR> Operator: ' + all_blocks.Operator + '<BR> Number of Wells: ' + all_blocks.num_wells.astype(str) + '<BR> Area in Sq. Kilometers ' + all_blocks.sq_km.astype(str) + '<BR> Estimated Reserves in Million of Barrels: '+ all_blocks.est_reserve.astype(str)

In [40]:
layer_block = dl.GeoJSON(id='block',
                        data=json.loads(all_blocks.to_json()),
                        hoverStyle=arrow_function(dict(weight=6, fillColor='blue')),
                        options=dict(style=dict(color='black', 
                                    weight=1, 
                                    dashArray='20, 10',
                                    dashOffset='5',
                                    opacity=0.7,
                                    )))

app = JupyterDash()
app.layout = dl.Map([layer_block, dl.TileLayer()],
                    center=[5.3, 96.3],
                    zoom=10,
                    style={
                        'width': '1000px',
                        'height': '500px'
                    })

app.run_server(mode='inline', port=random.choice(range(2000, 10000)))

In [55]:
all_blocks['Operator']

0    A
1    B
2    A
3    C
4    A
Name: Operator, dtype: object

In [56]:
pd.unique(all_blocks['Operator'].to_list())

array(['A', 'B', 'C'], dtype=object)

In [3]:
all_blocks

,Block_Name,Status,Operator,num_wells,sq_km,est_reserve,geometry
0,East-Block,Production,A,20,145.97,100,"POLYGON ((96.40011 5.20866, 96.43375 5.22165, ..."
1,West-Block,Production,B,50,171.38,420,"POLYGON ((96.15006 5.27447, 96.14897 5.41917, ..."
2,South-Block,Exploration,A,0,48.74,150,"POLYGON ((96.15021 5.32141, 96.15075 5.27437, ..."
3,Center-Block,Exploration,C,0,48.98,120,"POLYGON ((96.14996 5.32193, 96.26084 5.32085, ..."
4,North-Block,Production,A,30,64.55,220,"POLYGON ((96.08469 5.41977, 96.21141 5.41977, ..."

In [38]:
all_blocks['num_wells'].max()

50

In [39]:
if all_blocks['num_wells'].max() is not None and all_blocks['num_wells'].min() is not None:
    print('yes')
else:
    print('no')

yes

In [19]:
all_blocks[(all_blocks['num_wells'].between(0,50)) & (all_blocks['sq_km'].between(48.74,171.38)) & (all_blocks['est_reserve'].between(100,420)) & (all_blocks['Status'].isin(['Exploration']))]

,Block_Name,Status,Operator,num_wells,sq_km,est_reserve,geometry
2,South-Block,Exploration,A,0,48.74,150,"POLYGON ((96.15021 5.32141, 96.15075 5.27437, ..."
3,Center-Block,Exploration,C,0,48.98,120,"POLYGON ((96.14996 5.32193, 96.26084 5.32085, ..."

In [11]:
all_blocks[all_blocks['num_wells'].between(0,50)]

,Block_Name,Status,Operator,num_wells,sq_km,est_reserve,geometry
0,East-Block,Production,A,20,145.97,100,"POLYGON ((96.40011 5.20866, 96.43375 5.22165, ..."
1,West-Block,Production,B,50,171.38,420,"POLYGON ((96.15006 5.27447, 96.14897 5.41917, ..."
2,South-Block,Exploration,A,0,48.74,150,"POLYGON ((96.15021 5.32141, 96.15075 5.27437, ..."
3,Center-Block,Exploration,C,0,48.98,120,"POLYGON ((96.14996 5.32193, 96.26084 5.32085, ..."
4,North-Block,Production,A,30,64.55,220,"POLYGON ((96.08469 5.41977, 96.21141 5.41977, ..."